@model dynamic

@{
    Script.Require("Theme-ValidationEngine-en");
    Script.Require("Theme-ValidationEngine");

    Style.Require("Theme-ValidationEngine");
}

@using (Script.Foot()) {
    <script type="text/javascript">
        $(function () {
            $(".alert").alert();

            $('form').validationEngine({
                promptPosition: 'centerRight'
            });
        });
    </script>
}

@if (Html.ValidationSummary() != null) {
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Error:</strong>
        <p>@Html.ValidationSummary()</p>
    </div>
}

<h3>@Html.TitleForPage(T("Change Password").ToString())</h3>

@using (Html.BeginFormAntiForgeryPost(Url.Action("ChangePassword"), FormMethod.Post, new { @class = "border-radius col-xs-12 col-md-6" })) {
    <h5>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</h5>
    @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
    <div class="form-group">
        @Html.Password("currentPassword", null, new { @class = "border-radius validate[required]", autofocus = "autofocus", placeholder = "Current Password" })
        @Html.ValidationMessage("currentPassword")
    </div>
    <div class="form-group">
        @Html.Password("newPassword", null, new { @class = "border-radius validate[required,minSize[" + ViewData["PasswordLength"] + "]]", placeholder = "New Password" })
        @Html.ValidationMessage("newPassword")
    </div>
    <div class="form-group">
        @Html.Password("confirmPassword", null, new { @class = "border-radius validate[required,minSize[" + ViewData["PasswordLength"] + "],equals[newPassword]]", placeholder = "Confirm New Password" })
        @Html.ValidationMessage("confirmPassword")
    </div>
    <div class="form-group">
        <input type="submit" class="border-radius" value="@T("Change Password")" />
    </div>
}
