@model dynamic

<h3>@Html.TitleForPage(T("Change Password").ToString())</h3>

@using (Html.BeginFormAntiForgeryPost(Url.Action("LostPassword"), FormMethod.Post, new { @class = "border-radius" })) {
    <h5>@T("New passwords are required to be a minimum of {0} characters in length.", ViewData["PasswordLength"])</h5>
    @Html.ValidationSummary(T("Password change was unsuccessful. Please correct the errors and try again.").ToString())
    <div class="form-group">
        @Html.Password("newPassword", null, new { @class = "border-radius", autofocus = "autofocus", placeholder = "New Password" })
        @Html.ValidationMessage("newPassword")
    </div>
    <div class="form-group">
        @Html.Password("confirmPassword", null, new { @class = "border-radius", placeholder = "Confirm New Password" })
        @Html.ValidationMessage("confirmPassword")
    </div>
    <div class="form-group">
        <input type="submit" class="border-radius" value="@T("Change Password")" />
    </div>
}