@*
    ErrorPage(string Message, Exception Exception)
*@

<div class="text-center">
    <div class="fourohfourinner">
        <h1 class="fourohfour">
            <strong>@T("500!")</strong>
            <span>@T("Oops. Something went wrong")</span>
        </h1>
        <h3 class="sectionheader">@T("An unhandled exception has occurred and the request was terminated")</h3>
        <p>
            @T("Please refresh the page")<br />
            @T("If the error persists, go back")
        </p>
    </div>
</div>
