@*
    @Model.RequestedUrl
    @Model.ReferrerUrl
*@

<div class="text-center">
    <div class="fourohfourinner">
        <h1 class="fourohfour">
            <strong>@T("404!")</strong>
            <span>@T("page not found")</span>
        </h1>
        <h3 class="sectionheader">@T("It looks like you’re looking for a page that no longer exists")</h3>
        <p>
            @T("You can either use the navigation above, or simply")<br />
            <a href="/">@T("click here to go back to the home page")</a>
        </p>
    </div>
</div>